<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="{% block keywords %}漫画,动画,在线漫画,在线动画,火影忍者,海贼王,死神{% endblock %}" />
    <meta name="description" content="{% block description %}漫漫翻是新兴的在线动漫社区，社区提供各种漫画和动画的在线预览，实时更新。社区专注于为动漫爱好者提供一流的阅读体验，在这里您可以于其他相同兴趣的朋友进行快乐的交流和互动。{% endblock %}" />
    <title>{% block title %}看漫画上漫漫翻-看动画上漫漫翻-动画-漫画-分享-在线动漫社区{% endblock %}</title>
    <link href="/media/css/comic/global.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://localhost/jquery.js"></script>
</head>
<body>
<div class="back">
    <div class="head">
	<div class="top"><img src="/media/img/comic_page/logo.png" /></div>
	<div class="nav">

	</div>
	<div class="ad1">
	</div>
    </div>
{% block content %}{% endblock %}
</div>
</body>
</html>