<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="{% block keywords %}漫画,动画,在线漫画,在线动画,火影忍者,海贼王,死神{% endblock %}" />
	<meta name="description" content="{% block description %}漫漫翻是新兴的在线动漫社区，社区提供各种漫画和动画的在线预览，实时更新。社区专注于为动漫爱好者提供一流的阅读体验，在这里您可以于其他相同兴趣的朋友进行快乐的交流和互动。{% endblock %}" />
    <title>{% block title %}漫漫翻-在线动漫社区{% endblock %}</title>
    <link href="/media/css/comic/global.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<script type="text/javascript" src="/media/js/jquery.js"></script>
</head>
<body>
	{% block content %}{% endblock %}
	<div class="foot_read">
        © 2008-2009 Manmanfan.com.京ICP备09108185号 
    </div>
	<script type="text/javascript" src="http://js.tongji.linezing.com/852592/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/852592/tongji.gif"/></a></noscript>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-8071317-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>