{% extends "comic/base.html" %}
{% load filters %}
{% block keywords %}{{categorys.title}}, 漫画{% endblock %}
{% block description %}类别为{{categorys.title}}的漫画列表，共有{{comiccount}}本相关漫画。{% endblock %}
{% block title %} {{categorys.title}}-漫画列表-漫漫翻-在线动漫社区 {% endblock %}
{% block content %}    
    <div class="main">
    	<div class="main_nav">您的当前位置：<a href="/">漫漫翻</a> - <a href="{{categorys.get_absolute_url}}">{{categorys.title}}</a></div>
        <div class="word_comic_list">
            {% for item in comics %}
            <div class="word_comic_item">
                <div class="img"><a href="{{item.get_absolute_url}}"><img src="/media/{{item.photo}}" width="120" height="168" /></a></div>
                <div>
                    <p>
                        <a href="{{item.get_absolute_url}}">{{item.title}}</a>
                    </p>
                    {% autoescape off %}
                    <p>
                        [{{item.status|STATUS_CHOICE}}]
                    </p>
                    
                    <p>
                        {{item.description|truncatehanzi:":50"}}
                    </p>
                    <p>
                        [作者：{% for i in item.author.all %}<a href="{{i.get_absolute_url}}">{{i.title}}</a>, {% endfor %}]
                    </p>
                    {% endautoescape %}
                </div>
            </div>
            {% endfor %}
        </div>
		<div class="clear"></div>
        <div class="paginator">
		{% if is_paginated %}
            {% ifequal current_page 1 %}
            {% else %} 
			
            {% endifequal %}
            {% if has_previous %} <a href="/category/{{category_id}}_{{ previous_page }}">上一页</a>
            {% else %}
            {% endif %}
            {% for p in page_numbers %}
				{% ifequal current_page p %}
                <a class="yes">{{ p }}</a>
				{% else %}
				<a class="no" href="/category/{{category_id}}_{{ p }}">{{ p }}</a>
				{% endifequal %}
            {% endfor %}
            {% if has_next %}<a href="/category/{{category_id}}_{{ next_page }}">下一页</a>
            {% else %}
            {% endif %}
            {% ifequal current_page pages %}
            {% else %} 
            {% endifequal %}
            &nbsp;&nbsp;
            当前页：{{ current_page }}/{{ pages }}
            &nbsp;&nbsp;
         {% endif %}
        </div>
    </div>
{% endblock %}